@using GiayDep.Service_SanPham_Kho;
@model List<SanPham_Price>

@{
    foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">

                        <a href="@Url.Action("Chitietsanpham", new { @masp= item._MaSP , @mamau= item._MaMau})">
                            <img src="@Url.Content("https://huyimages.blob.core.windows.net/sanpham/" + item._HinhAnh.Split(new Char[] { ' ' })[0])" alt="" height="237" width="255" />
                        </a>
                        <h2>@item._GiaSP.000đ</h2>
                        <p>@item._TenSP</p>
                        @*<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>*@
                        @*@using (Html.BeginForm("Muangay", "Sanpham", new { @imasp = item._MaSP, @mamau= item._MaMau }))
                            {*@

                        @*<button type="submit" class="btn btn-fefault cart">*@
                       
                        @*}*@
                    </div>
                </div>
                <img src="/images/home/new.png" class="new" alt="">
            </div>
        </div>
    }

}