<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Admin_QuanLyShop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Admin_QuanLyShop.Properties.Settings>
            <setting name="sdsd" serializeAs="String">
                <value />
            </setting>
        </Admin_QuanLyShop.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service_SanPhamSoap" />
                <binding name="Service_LoaiSoap" />
                <binding name="Service_NhanVienSoap" />
                <binding name="Service_KhachHangSoap" />
                <binding name="Service_NhaCungCapSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61817/Service_SanPham.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service_SanPhamSoap"
                contract="Service_SanPham.Service_SanPhamSoap" name="Service_SanPhamSoap" />
            <endpoint address="http://localhost:61817/Service_Loai.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service_LoaiSoap"
                contract="Service_Loai.Service_LoaiSoap" name="Service_LoaiSoap" />
            <endpoint address="http://localhost:61817/Service_NhanVien.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service_NhanVienSoap"
                contract="Service_NhanVien.Service_NhanVienSoap" name="Service_NhanVienSoap" />
            <endpoint address="http://localhost:61817/Service_KhachHang.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service_KhachHangSoap"
                contract="Service_KhachHang.Service_KhachHangSoap" name="Service_KhachHangSoap" />
            <endpoint address="http://localhost:61817/Service_NhaCungCap.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service_NhaCungCapSoap"
                contract="Service_NhaCungCap.Service_NhaCungCapSoap" name="Service_NhaCungCapSoap" />
        </client>
    </system.serviceModel>
</configuration>