<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService_SanPham" />
                <binding name="BasicHttpsBinding_IService_SanPham">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService_KhachHang" />
                <binding name="BasicHttpsBinding_IService_KhachHang">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService_NhanVien" />
                <binding name="BasicHttpsBinding_IService_NhanVien">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService_NhaCungCap" />
                <binding name="BasicHttpsBinding_IService_NhaCungCap">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService_Loai" />
                <binding name="BasicHttpsBinding_IService_Loai">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService_Mau" />
                <binding name="BasicHttpsBinding_IService_Mau">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService_Size" />
                <binding name="BasicHttpsBinding_IService_Size">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService_CTDH" />
                <binding name="BasicHttpsBinding_IService_CTDH">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService_CTHDN" />
                <binding name="BasicHttpsBinding_IService_CTHDN">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService_DonHang" />
                <binding name="BasicHttpsBinding_IService_DonHang">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService_HoaDonNhap" />
                <binding name="BasicHttpsBinding_IService_HoaDonNhap">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService_Kho" />
                <binding name="BasicHttpsBinding_IService_Kho">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService_SanPham_Kho" />
                <binding name="BasicHttpsBinding_IService_SanPham_Kho">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService_KhuyenMai" />
                <binding name="BasicHttpsBinding_IService_KhuyenMai">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://huyservice.azurewebsites.net/Service_KhachHang.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_KhachHang"
                contract="Service_KhachHang.IService_KhachHang" name="BasicHttpsBinding_IService_KhachHang" />
            <endpoint address="https://huyservice.azurewebsites.net/Service_KhuyenMai.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_KhuyenMai"
                contract="Service_KhuyenMai.IService_KhuyenMai" name="BasicHttpsBinding_IService_KhuyenMai" />
            <endpoint address="https://huyservice.azurewebsites.net/Service_Loai.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_Loai"
                contract="Service_Loai.IService_Loai" name="BasicHttpsBinding_IService_Loai" />
            <endpoint address="https://huyservice.azurewebsites.net/Service_Mau.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_Mau"
                contract="Service_Mau.IService_Mau" name="BasicHttpsBinding_IService_Mau" />
            <endpoint address="https://huyservice.azurewebsites.net/Service_NhaCungCap.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_NhaCungCap"
                contract="Service_NhaCungCap.IService_NhaCungCap" name="BasicHttpsBinding_IService_NhaCungCap" />
            <endpoint address="https://huyservice.azurewebsites.net/Service_NhanVien.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_NhanVien"
                contract="Service_NhanVien.IService_NhanVien" name="BasicHttpsBinding_IService_NhanVien" />
            <endpoint address="https://huyservice.azurewebsites.net/Service_SanPham.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_SanPham"
                contract="Service_SanPham.IService_SanPham" name="BasicHttpsBinding_IService_SanPham" />
            <endpoint address="https://huyservice.azurewebsites.net/Service_SanPham_Kho.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_SanPham_Kho"
                contract="Service_SanPham_Kho.IService_SanPham_Kho" name="BasicHttpsBinding_IService_SanPham_Kho" />
            <endpoint address="https://huyservice.azurewebsites.net/Service_Size.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_Size"
                contract="Service_Size.IService_Size" name="BasicHttpsBinding_IService_Size" />
            <endpoint address="https://huyservice.azurewebsites.net/Service_CTDH.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_CTDH"
                contract="Service_CTDH.IService_CTDH" name="BasicHttpsBinding_IService_CTDH" />
            <endpoint address="https://huyservice.azurewebsites.net/Service_CTHDN.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_CTHDN"
                contract="Service_CTHDN.IService_CTHDN" name="BasicHttpsBinding_IService_CTHDN" />
            <endpoint address="https://huyservice.azurewebsites.net/Service_Kho.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_Kho"
                contract="Service_Kho.IService_Kho" name="BasicHttpsBinding_IService_Kho" />
            <endpoint address="https://huyservice.azurewebsites.net/Service_HoaDonNhap.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_HoaDonNhap"
                contract="Service_HoaDonNhap.IService_HoaDonNhap" name="BasicHttpsBinding_IService_HoaDonNhap" />
           
            <endpoint address="https://huyservice.azurewebsites.net/Service_DonHang.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_DonHang"
                contract="Service_DonHang.IService_DonHang" name="BasicHttpsBinding_IService_DonHang" />
        </client>
    </system.serviceModel>
</configuration>