<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GiayDep.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
  
  
   </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="Token" value="WS6NwM_MR6scT4GfPIL8XBbWPQTuTzrSKCZeK6aCpVoWL4woRpqrpQhAr-0"/>
    <add key="accountBusiness" value="friends.tinhpham@gmail.com"/>
    <add key="urlReturn" value="http://tth.somee.com/giohang/ThanhToan/"/>
    <add key="urlSubmitPayment" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <GiayDep.Properties.Settings>
      <setting name="GiayDep_Service_KhuyenMai_Service_KhuyenMai" serializeAs="String">
        <value>http://servicegiaydep.azurewebsites.net/Service_KhuyenMai.asmx</value>
      </setting>
      <setting name="GiayDep_Service_Loai_Service_Loai" serializeAs="String">
        <value>http://servicegiaydep.azurewebsites.net/Service_Loai.asmx</value>
      </setting>
    </GiayDep.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService_CTDH" />
        <binding name="BasicHttpsBinding_IService_CTDH">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IService_DonHang" />
        <binding name="BasicHttpsBinding_IService_DonHang">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IService_KhachHang" />
        <binding name="BasicHttpsBinding_IService_KhachHang">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IService_Kho" />
        <binding name="BasicHttpsBinding_IService_Kho">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IService_Mau" />
        <binding name="BasicHttpsBinding_IService_Mau">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IService_SanPham" />
        <binding name="BasicHttpsBinding_IService_SanPham">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IService_SanPham_Kho" />
        <binding name="BasicHttpsBinding_IService_SanPham_Kho">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IService_Size" />
        <binding name="BasicHttpsBinding_IService_Size">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://huyservice.azurewebsites.net/Service_CTDH.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_CTDH"
        contract="Service_CTDH.IService_CTDH" name="BasicHttpsBinding_IService_CTDH" />
      <endpoint address="https://huyservice.azurewebsites.net/Service_DonHang.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_DonHang"
        contract="Service_DonHang.IService_DonHang" name="BasicHttpsBinding_IService_DonHang" />
      <endpoint address="https://huyservice.azurewebsites.net/Service_Kho.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_Kho"
        contract="Service_Kho.IService_Kho" name="BasicHttpsBinding_IService_Kho" />
      <endpoint address="https://huyservice.azurewebsites.net/Service_Mau.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_Mau"
        contract="Service_Mau.IService_Mau" name="BasicHttpsBinding_IService_Mau" />
      <endpoint address="https://huyservice.azurewebsites.net/Service_SanPham.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_SanPham"
        contract="Service_SanPham.IService_SanPham" name="BasicHttpsBinding_IService_SanPham" />
      <endpoint address="https://huyservice.azurewebsites.net/Service_SanPham_Kho.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_SanPham_Kho"
        contract="Service_SanPham_Kho.IService_SanPham_Kho" name="BasicHttpsBinding_IService_SanPham_Kho" />
      <endpoint address="https://huyservice.azurewebsites.net/Service_Size.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_Size"
        contract="Service_Size.IService_Size" name="BasicHttpsBinding_IService_Size" />
      <endpoint address="https://huyservice.azurewebsites.net/Service_KhachHang.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService_KhachHang"
        contract="Service_KhachHang.IService_KhachHang" name="BasicHttpsBinding_IService_KhachHang" />
    </client>
  </system.serviceModel>
</configuration>